%section.shop-index.container
  %h1 My Shops
  %br
  %form.form-horizontal{:role => "form"}
    .well
      NO shops are listed yet.
  %br
  %form.form-horizontal{:role => "form"}
    .well
      = link_to "Add a new shop", new_shop_path,  class: 'btn btn-success btn-large'