%br
%h1 About this site
%br
.jumbotron
  %p As a mystery shopper myself, I realize that one of the least pleasant things about independent contracting is keeping track of income and expenses for tax time. For years I've done this with my own spreadheet but always thought there could be a better and easier way.
  %P That's why I created this site. It is a simple place to keep track of your shops and payments with an easy to read summary that should make tax time a lot less stressful and time consuming, so you can get back to your shops.
  %p Thank you for checking us out. I plan to add more features in the weeks and months to come.
  %br
  %p Shawn Harkness
