%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#user", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => home_path} MShop Tracker
    #user.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.divider-vertical
        - if logged_in?
          Welcome, #{current_user.first_name}
        - else
          %li
            %a Welcome
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search coming soon...", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
      %form.navbar-form.navbar-right
        .form-group
          - if logged_in?
            %btn.btn-default{:href => logout_path} Log out
          - else
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
              Log In
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
              %li{:role => "presentation"}
                %a{:href => "users/new", :role => "menuitem", :tabindex => "-1"}Register
              %li.divider{:role => "presentation"}
              %li{:role => "presentation"}
                %a{:href => "sessions/new", :role => "menuitem", :tabindex => "-1"} Log In
