.hero-unit
  %h2 Hello and Welcome!
  %p Thank you for checking us out. This site will soon offer the opportunity to track all of your mystery shopping assignments and payments.
  = link_to "Click here to join", class: 'btn btn-primary btn-large'