%br
.jumbotron
  %h1 Hello and Welcome!
  %p Thank you for checking us out. This site will soon offer the opportunity to track all of your mystery shopping assignments and payments.
  %br
  %a.col-sm-offset-2.btn.btn-primary.btn-lg{:href => register_path, :role => "button"} Click here to join!