.jumbotron
  %h1 Hello and Welcome!
  %p Thank you for checking us out. This site will soon offer the opportunity to track all of your mystery shopping assignments and payments.
  %a.btn.btn-primary.btn-lg{:role => "button"} Click here to join"